#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    max-width: 1080px;
    background-color: #333; /* Black background color */
    width: 100vw;
    color: #fff; /* White text color */
     /* Centered text */
    padding: 20px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
}

.snackbar-button{
  text-align:right;
  background: transparent;
  border:none;
  color:#3CB371;
  text-align: right;
  float:right;
}

.pass-content{
    position:relative;
    top: 65px;
}

.pass-result{
  font-weight:bold;
  color:#007D00;
  font-size:1.8em;
}

.pass-info{
  border-top-style:solid;
  border-width:1px;
  border-color:#DDDDDD;
}

li{ 
  list-style:none;
  position: relative;
  left: -50px;
  padding: 15px;
}

.info{
  position: relative;
  transform: translateY(-10px);
}

.list-icon{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .01em;
    list-style: none;
    font-family: inherit;
    line-height: normal;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    color: var(--md-theme-default-text-primary-on-background,rgba(0,0,0,.87));
    box-sizing: inherit;
    height: 30px;
    width: 30px;
    opacity: .5;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
    visibility: visible !important; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}